body {
    background-color: wheat;
    color: black;
    border: solid;
    border-radius: 60px;
    border-color: darksalmon;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: burlywood;
    font-size: 80px;
    border: 10px solid;
    border-color: black;
}

h2 {
    text-align: center;
}


p {
    margin-left: 03%;
}

em strong {
    color: chocolate;
}

#banner {
    width: 100%;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: brown;
    padding: 20px;
    margin-bottom: 50px;
}

.imagembeneficios {
    width: 30%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.principal{
background-color: wheat;

}
u{
    background-color: wheat;
}









/*coment*/