body{
    background-color:wheat;
    color: black;
    border: solid;
    border-radius: 60px;
    border-color: darksalmon;
    text-align: center;
}

h1{
    text-align: center;
    background-color: burlywood;
    font-size: 100px;
    border: solid color(srgb red green blue);
}

h2{
    text-align: center; 
}


 p{
    margin-left: 03%;
 }  

 em strong{
    color: chocolate;
 }

 #banner{
width: 100%;
 }
    
 